.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  position: relative;

  nav {
    margin-left: 5rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: "";
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--purple-500);
      }
    }
  }

  button {
    margin-left: auto;
  }
}

.mobileMenu {
  display: none;
}

@media (max-width: 648px) {
  .mobileMenu {
    display: block;
    position: absolute;
    right: 3rem;
    font-size: 1.5rem;
  }

  .headerContent {
    nav {
      margin-left: unset;
      height: unset;

      a {
        & + a {
          margin-left: unset;
        }
      }
    }

    button {
      margin-left: unset;
      margin-top: 2rem;
    }
  }

  .navOptions {
    margin-left: unset;

    left: -100%;
    opacity: 0;

    height: 0 !important;
    pointer-events: none;
  }

  .navOptionsActive {
    width: 100%;
    padding-bottom: 2rem;

    height: 300px;
    opacity: 1;

    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;

    flex-direction: column;

    transition: all 0.5s ease;
    background: #3c3c3c;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
